.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(252, 252, 252);
}

.sub-main{
    display: flex;
    justify-content: center;
    height: 550px;
    width:35%;
    box-shadow: 12px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;
}